{% extends "./base.html" %}

{% block content %}

  <div class="container-fluid bcontent">
    <div class="card-columns">
      {% for groupConvo in ConvoPreview %}
        <div class="card">
          <div class="container">
            <div class="col-sm">
              <h1>{{groupConvo.Group_Name}}</h1>
              <img src="{{groupConvo.Thumbnail.url}}" href="./messages/{{groupConvo.GroupId}}" class="mr-3 mt-7 rounded-circle" style="width:100px;"/>
              <p style="display:inline-block;"> {{groupConvo.Description}} </p>
              <a href="./messages/{{groupConvo.GroupId}}"> Go There -> </a>
            </div>
            <div class="col-sm">
            </div>

            <div class="col-sm">
              <p style="display:inline-block; padding-left: 10px;"> Likes: {{groupConvo.view_count}} </p>
              <form method="POST" style="display:inline-block;">
                {% csrf_token %}
                {{starForm.as_p}}
                <input type="hidden" name="star" value="{{groupConvo.GroupId}}">
                {% for key, values in Dictionary.items %}
                  {% if key == groupConvo.GroupId %}
                    {% if values %}
                      <button type="submit" style="background-color: transparent; border:none">
                        <img src="/media/colored_star.png" style="width:20px"/>
                      </button>
                    {% else %}
                      <button type="submit" style="background-color: transparent; border:none">
                        <img src="/media/uncolored_star.png" style="width:20px"/>
                      </button>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </form>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% if user.is_authenticated %}
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      {{NewConvoForm.as_p}}
      <button type="submit" style="" value="Submit"> New Group Conversation </button>
    </form>
  {% endif %}

{% endblock content %}
